{{ define "catalogbar" }}
  {{ $input := . }}
  {{ if $input.catalog }}
    <div class="sidebar">
      {{range $input.catalog }}
        {{ if $input.curname }}
          {{ if eq $input.curname . }}
            <a id="{{.}}" class="chosen" href="/info/{{$input.reponame}}?curname={{.}}">[{{.}}]</a>
            <script>
              document.getElementById("{{.}}").scrollIntoView({block: "end", behavior: "smooth"});
            </script>
          {{else}}
            <a id="{{.}}" href="/info/{{$input.reponame}}?curname={{.}}">[{{.}}]</a>
          {{end}}
        {{else}}
          <a href="/info/{{$input.reponame}}?curname={{.}}">[{{.}}]</a>
        {{ end }}
      {{end}}
    </div>
  {{ end }}
{{ end }}
