{{ define "managerepos" }}
{{ $input := . }}
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="/resources/map.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    </head>
    <body class="preload">
      {{ template "topbar" $input }}
      <div class="sidebar">
      {{ if eq $input.path "add" }}
        <a class="chosen" href="/managerepos/add">[add new repo]</a><br>
      {{ else }}
        <a href="/managerepos/add">[add new repo]</a><br>
      {{ end }}
      {{ if $input.repos }}
        {{ range $input.repos }}
          {{ if $input.chosen.name }}
            {{ if eq $input.chosen.name . }}
              <a class="chosen" href="/managerepos/edit?reponame={{.}}">[{{.}}]</a>
            {{ else }}
              <a href="/managerepos/edit?reponame={{.}}">[{{.}}]</a>
            {{ end }}
          {{ else }}
            <a href="/managerepos/edit?reponame={{.}}">[{{.}}]</a>
          {{ end }}
        {{ end }}
      {{ else }}
        <div class="emptyrepos">
          <p>Sorry, you have no added repos</p>
        </div>
      {{ end }}
      </div>
      {{ if eq $input.path "add" }}
      <div class="managerepos">
        <form id="managerepoform">
          Repo name:&nbsp;&nbsp; <input type="text" name="name"> (Just how it will be shown in this app)<br>
          Repo scheme:  <input type="radio" name="scheme" value="http">http
                        <input type="radio" name="scheme" value="https" checked>https
                        <br>
          Secure repo: <input type="checkbox" name="secure" value="true" checked> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          (Leave unchecked if your repo and/or auth server is insecure/use self-signed certs)<br>
          Repo addr:&nbsp;&nbsp; <input type="text" name="host"> (Hostname or ip:port of repo)<br>
          Username:&nbsp;&nbsp;&nbsp; <input type="text" name="user"> (Username to connect to Repo, mandatory field)<br>
          Password:&nbsp;&nbsp;&nbsp; <input type="text" name="pass"> (Password to connect to Repo, mandatory field)<br>
        </form>
        <button type="submit" form="managerepoform" value="add">Add</button><a href="/managerepos/">Cancel</a>
      </div>
      {{ end }}
      {{ if eq $input.path "edit" }}
      <div class="managerepos">
        <form id="managerepoform">
          Repo name:&nbsp;&nbsp; <input type="text" disabled value="{{ $input.chosen.name }}"> (Just how it will be shown in this app)<br>
          Repo scheme:  {{ if $input.chosen.scheme }}
                          {{ if eq $input.chosen.scheme "http"}}
                            <input type="radio" name="scheme" value="http" checked>http
                            <input type="radio" name="scheme" value="https">https
                          {{ end }}
                          {{ if eq $input.chosen.scheme "https"}}
                            <input type="radio" name="scheme" value="http">http
                            <input type="radio" name="scheme" value="https" checked>https
                          {{ end }}
                        {{ else }}
                          <input type="radio" name="scheme" value="http">http
                          <input type="radio" name="scheme" value="https">https
                        {{ end }}
                        <br>

          Secure repo:  {{ if eq $input.chosen.secure "true"}}
                          <input type="checkbox" name="secure" value="true" checked>
                        {{else}}
                          <input type="checkbox" name="secure" value="true">
                        {{end}}
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          (Leave unchecked if your repo and/or auth server is insecure/use self-signed certs)<br>
          Repo addr:&nbsp;&nbsp; <input type="text" name="host" value="{{ $input.chosen.host }}"> (Hostname or ip:port of repo)<br>
          Username:&nbsp;&nbsp;&nbsp; <input type="text" name="user" value="{{ $input.chosen.user }}"> (Username to connect to Repo, mandatory field)<br>
          Password:&nbsp;&nbsp;&nbsp; <input type="text" name="pass" value="{{ $input.chosen.pass }}"> (Password to connect to Repo, mandatory field)<br>
          <input type="text" hidden="true" name="name" value="{{ $input.chosen.name }}">
        </form>
        <button type="submit" form="managerepoform" value="add">Edit</button>
        <a href="/managerepos/delete?reponame={{ $input.chosen.name }}">Delete</a>
        <a href="/managerepos/">Cancel</a>
      </div>
      {{ end }}
    </body>
    <script>
      $(window).load(function() {
        $("body").removeClass("preload");
      });
    </script>
  </html>
{{ end }}
