{{ define "managerepos" }}
{{ $input := . }}
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="/resources/map.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    </head>
    <body class="preload">
      {{ template "topbar" }}
      <div class="sidebar">
      {{ if eq $input.path "add" }}
        <a class="chosen" href="/managerepos/add">[add new repo]</a><br>
      {{ else }}
        <a href="/managerepos/add">[add new repo]</a><br>
      {{ end }}
      {{ if $input.repos }}
        {{ range $input.repos }}
          {{ if $input.chosen.reponame }}
            {{ if eq $input.chosen.reponame . }}
              <a class="chosen" href="/managerepos/edit?reponame={{.}}">[{{.}}]</a>
            {{ else }}
              <a href="/managerepos/edit?reponame={{.}}">[{{.}}]</a>
            {{ end }}
          {{ else }}
            <a href="/managerepos/edit?reponame={{.}}">[{{.}}]</a>
          {{ end }}
        {{ end }}
      {{ else }}
        <div class="emptyrepos">
          <p>Sorry, you have no added repos</p>
        </div>
      {{ end }}
      </div>
      {{ if eq $input.path "add" }}
      <div class="managerepos">
        <form id="managerepoform">
          Repo name:&nbsp;&nbsp; <input type="text" name="reponame"> (Just how it will be shown in this app)<br>
          Repo scheme:  <input type="radio" name="reposcheme" value="http">http
                        <input type="radio" name="reposcheme" value="https" checked>https
                        <br>
          Repo addr:&nbsp;&nbsp; <input type="text" name="repohost"> (Hostname or ip:port of repo)<br>
          Username:&nbsp;&nbsp;&nbsp; <input type="text" name="repouser"> (Username to connect to Repo, mandatory field)<br>
          Password:&nbsp;&nbsp;&nbsp; <input type="text" name="repopass"> (Password to connect to Repo, mandatory field)<br>
        </form>
        <button type="submit" form="managerepoform" value="add">Add</button><a href="/managerepos/">Cancel</a>
      </div>
      {{ end }}
      {{ if eq $input.path "edit" }}
      <div class="managerepos">
        <form id="managerepoform">
          Repo name:&nbsp;&nbsp; <input type="text" name="reponame" value="{{ $input.chosen.reponame }}"> (Just how it will be shown in this app)<br>
          Repo scheme:  {{ if $input.chosen.reposcheme }}
                          {{ if eq $input.chosen.reposcheme "http"}}
                            <input type="radio" name="reposcheme" value="http" checked>http
                            <input type="radio" name="reposcheme" value="https">https
                          {{ end }}
                          {{ if eq $input.chosen.reposcheme "https"}}
                            <input type="radio" name="reposcheme" value="http">http
                            <input type="radio" name="reposcheme" value="https" checked>https
                          {{ end }}
                        {{ else }}
                          <input type="radio" name="reposcheme" value="http">http
                          <input type="radio" name="reposcheme" value="https">https
                        {{ end }}
                        <br>
          Repo addr:&nbsp;&nbsp; <input type="text" name="repohost" value="{{ $input.chosen.repohost }}"> (Hostname or ip:port of repo)<br>
          Username:&nbsp;&nbsp;&nbsp; <input type="text" name="repouser" value="{{ $input.chosen.repouser }}"> (Username to connect to Repo, mandatory field)<br>
          Password:&nbsp;&nbsp;&nbsp; <input type="text" name="repopass" value="{{ $input.chosen.repopass }}"> (Password to connect to Repo, mandatory field)<br>
        </form>
        <button type="submit" form="managerepoform" value="add">Edit</button>
        <a href="/managerepos/delete?reponame={{ $input.chosen.reponame }}">Delete</a>
        <a href="/managerepos/">Cancel</a>
      </div>
      {{ end }}
    </body>
    <script>
      $(window).load(function() {
        $("body").removeClass("preload");
      });
    </script>
  </html>
{{ end }}
