{{ define "repobar" }}
{{ $input := . }}
  <div class="sidebar">
    {{ if $input.repos }}
      {{ range $input.repos }}
        {{ if $input.reponame }}
          {{ if eq $input.reponame . }}
            <a id="{{.}}" class="chosen" href="/info/{{.}}">[{{.}}]</a>
            <script>
              document.getElementById("{{.}}").scrollIntoView({block: "end", behavior: "smooth"});
            </script>
          {{ else }}
            <a id="{{.}}" href="/info/{{.}}">[{{.}}]</a>
          {{ end }}
        {{ else }}
          <a id="{{.}}" href="/info/{{.}}">[{{.}}]</a>
        {{ end }}
      {{ end }}
    {{ else }}
    <div class="emptyrepos">
      <p>Sorry, you have no added repos</p>
    </div>
    {{ end }}
  </div>
{{ end }}
