{{ define "tagbar" }}
{{ $input := . }}
  {{ if $input.tags }}
  <div class="tags">
      {{ range $etag, $eupl := $input.tags }}
        {{ if $input.curtag }}
          {{ if eq $input.curtag $etag }}
            <a class="chosen" href="/info/{{$input.reponame}}?curname={{$input.curname}}&curtag={{$etag}}">[{{$etag}}] ({{$eupl}})</a>
          {{ else }}
            <a href="/info/{{$input.reponame}}?curname={{$input.curname}}&curtag={{$etag}}">[{{$etag}}] ({{$eupl}})</a>
          {{ end }}
        {{ else }}
          <a href="/info/{{$input.reponame}}?curname={{$input.curname}}&curtag={{$etag}}">[{{$etag}}] ({{$eupl}})</a>
        {{ end }}
      {{ end }}
  </div>
  {{ end }}
{{ end }}
