{{define "topbar"}}
{{ $input := . }}
  <div class="topbar">
    {{ if $input.headerdata }}
      <p>{{ $input.headerdata.header }}</p>
    {{ end }}

    {{ if eq $input.action "repos" }}
      <a class="chosen" href="/">Repos</a>
    {{ else }}
      <a href="/info/{{$input.headerdata.currepo}}">Repos</a>
    {{ end }}
    {{ if eq $input.action "graph" }}
      <a class="chosen" href="/repograph?reponame={{ $input.reponame }}">Graph</a>
    {{ else }}
      <a href="/repograph?reponame={{ $input.reponame }}">Graph</a>
    {{ end }}

    {{ if eq $input.action "conf" }}
      <a class="chosen" href="/managerepos">Confs</a>
    {{ else }}
      <a href="/managerepos">Confs</a>
    {{ end }}
    <a class="update" href="/update">Update all</a>
  </div>
{{end}}
