body{
  font-family: Courier;
  font-size: 12px;
  background-color: #222225;
  overflow: hidden;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
a:link, a:visited{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  background-color: #446688;
  color: black;
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: 1s ease-out;
  transition-delay: 0.1s;
}
a:hover, a:active{
  width: 100%;
  background-color: #6BC0EA;
  opacity: 0.85;
  transition: 0.3s ease-out;
  transition-delay: 0.05s;
}
button{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10%;
  background-color: #446688;
  color: black;
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: 1s ease-out;
  transition-delay: 0.1s;
  border: none;
}
button:hover{
  width: 11%;
  background-color: #6BC0EA;
  opacity: 0.85;
  transition: 0.3s ease-out;
  transition-delay: 0.05s;
}
::-webkit-scrollbar-track
{
  background-color: #0e121d;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  background-color: #6BC0EA;
}
a.namelink:link, a.namelink:visited{
  padding: 0px 0px;
  text-align: left;
  text-decoration: underline;
}
a.namelink:hover, a.namelink:active{
  width: 90%;
  background-color: #446688;
  opacity: 1;
  color: white;
  font-weight: normal;
}
a.chosen{
  background-color: #0e121d;
  color: #006699;
}
div.topbar{
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #006699;
  overflow: hidden;
}
div.topbar a:link, div.topbar a:visited{
  width: 5%;
  height: 100%;
  float: right;
  background-color: #006699;
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
  color: black;
  transition: 0.4s ease-out;
  transition-delay: 0.01s;
}
div.topbar a:hover, div.topbar a:active{
  width: 7%;
  height: 100%;
  background-color: #6BC0EA;
  transition: 0.4s ease-out;
  transition-delay: 0.01s;
}
div p {
  position: relative;
  background-color: #006699;
  color: black;
  padding: 0px 20px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  transition-delay: 0.01s;
}
div.sidebar{
  width: 10%;
  height: 90%;
  padding: 5px 0px;
  float: left;
  overflow-y: auto;
}
div.tagbar{
  width: 10%;
  height: 90%;
  padding: 5px 0px;
  float: left;
  overflow-y: auto;
}
div.emptyrepos{
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
}
div.managerepos{
  width: 75%;
  float: right;
}
form#managerepoform{
  color: #6bc0ea;
  padding: 10px 0px;
}
div.managerepos a:link, div.managerepos a:visited{
  width: 10%;
  float: right;
  color: black;
}
div.managerepos a:hover, div.managerepos a:active{
  width: 11%;
  color: black;
}
div.managerepos button{
}
div.manifestbar{
  width: 80%;
  height: 90%;
  float: left;
  padding: 5px 0px;
}

.tabs div {
  display: none;
  overflow-y: auto;
  height: 90%;
  background-color: #446688;
}
.tabs input {
  display: none;
}
.tabs label {
  width: 12%;
  display: inline-block;
  padding: 15px 25px;
  font-weight: bold;
  text-align: center;
  background-color: #446688;
  border: solid 1px black;
  color: black;
  transition: 0.3s ease-out;
  transition-delay: 0.05s;
}
.tabs label:hover {
  width: 13%;
  background-color: #6BC0EA;
  opacity: 0.85;
  transition: 0.3s ease-out;
  transition-delay: 0.05s;
}
.tabs input:checked + label {
  background-color: #0e121d;
  color: #006699;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
}

@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }
  .tabs label:before {
    font-size: 18px;
  }
}
@media screen and (max-width: 100%) {
  .tabs label {
    padding: 15px;
  }
}

table.historytable{
  width: 100%;
  text-align: center;
  background-color: #446688;
}
table.historytable tr{
  padding: 10px 0px;
  width: 100%;
  display: inline-flex;
  border-bottom: solid black 1px;
  transition: 0.7s ease-out;
  transition-delay: 0.05s;
}
table.historytable tr:hover{
  background-color: #0e121d;
  color: #006699;
  transition: 0.7s ease-out;
  transition-delay: 0.05s;
}
table.historytable td{
  min-width: 150px;
  font-size: 12px;
}
table.historytable th{
  min-width: 150px;
  font-size: 12px;
}

table.infotable {
  float: left;
  width: 40%;
  padding: 10px 10px;
}
table.infotable td{
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
  border-left: solid rgba(255, 255, 255, 0.2) 1px;
}
a.danger{
  width: 10%;
  position: relative;
  float: left;
  background-color: #650f22;
  color: #0e121d;
  top: 50%;
  transform: translateY(-50%);
}
a.danger:hover, a.danger:active{
  background-color: #8c0120;
  opacity: 1;
  color: white;
}

#uploadsgraph {
  display: block;
  float: left;
  width: 50%;
  height: 60%;
}
#sizegraph {
  display: block;
  float: left;
  width: 50%;
  height: 60%;
}
